<header class="header">
  <div class="contenidor">
    <a href="{{PREFIX}}index.html#inici" class="header__logo">
      <img src="{{PREFIX}}img/logo_bicolor.svg" alt="Trans-Català Rodes S.L.">
      <span class="header__marca-text">Trans-Català Rodes S.L.</span>
    </a>
    <nav class="menu">
      <ul class="menu__enllacos" id="menuEnllacos">
        <li><a href="{{PREFIX}}index.html#inici">Inici</a></li>
        <li><a href="{{PREFIX}}index.html#qui-som">Qui som</a></li>
        <li><a href="{{EFEMERIDES_HREF}}">Sabies que...?</a></li>
        <li><a href="{{PREFIX}}index.html#serveis">Serveis</a></li>
      </ul>
      <a href="{{PREFIX}}index.html#contacte" class="boto">Contacta'ns</a>
      <a href="{{IDIOMA_ES_HREF}}" class="idioma-toggle" aria-label="Canviar idioma">ES</a>
      <button class="menu__toggle" id="menuToggle" aria-label="Obrir menú">
      </button>
    </nav>
  </div>
</header>
