<header class="header">
  <div class="contenidor">
    <a href="{{PREFIX}}index.html#inici" class="header__logo">
      <img src="{{PREFIX}}img/logo_bicolor.svg" alt="Trans-Català Rodes S.L.">
      <span class="header__marca-text">Trans-Català Rodes S.L.</span>
    </a>
    <nav class="menu">
      <ul class="menu__enllacos" id="menuEnllacos">
        <li><a href="{{PREFIX}}index.html#inici" data-i18n="menu.inici">Inici</a></li>
        <li><a href="{{PREFIX}}index.html#qui-som" data-i18n="menu.qui-som">Qui som</a></li>
        <li><a href="{{EFEMERIDES_HREF}}" data-i18n="menu.sabies">Sabies que...?</a></li>
        <li><a href="{{PREFIX}}index.html#serveis" data-i18n="menu.serveis">Serveis</a></li>
      </ul>
      <a href="{{PREFIX}}index.html#contacte" class="boto" data-i18n="menu.contacta">Contacta'ns</a>
      <button type="button" class="idioma-toggle" id="idiomaToggle" aria-label="Canviar idioma">ES</button>
      <button class="menu__toggle" id="menuToggle" aria-label="Obrir menú">
      </button>
    </nav>
  </div>
</header>