<link rel="icon" type="image/svg+xml" href="{{PREFIX}}img/logo_bicolor.svg">
<meta name="keywords"
    content="camió grua, transport de mercaderies, gestió de residus, contenidors, Flix, Ribera d'Ebre, Tarragona, transport pesat">
<meta name="author" content="Trans-Català Rodes S.L.">
<meta name="geo.region" content="ES-CT">
<meta name="geo.placename" content="Flix, Tarragona">
<meta name="geo.position" content="41.2333;0.5500">
<meta name="ICBM" content="41.2333, 0.5500">
<meta property="og:type" content="website">
<meta property="og:locale" content="ca_ES">
<meta property="og:site_name" content="Trans-Català Rodes S.L.">
<meta name="twitter:card" content="summary_large_image">