<header class="header">
  <div class="contenidor">
    <a href="index.html#inici" class="header__logo">
      <img src="{{PREFIX}}img/logo_bicolor.svg" alt="Trans-Català Rodes S.L.">
      <span class="header__marca-text">Trans-Català Rodes S.L.</span>
    </a>
    <nav class="menu">
      <ul class="menu__enllacos" id="menuEnllacos">
        <li><a href="index.html#inici">Inicio</a></li>
        <li><a href="index.html#qui-som">Quiénes somos</a></li>
        <li><a href="{{EFEMERIDES_HREF}}">¿Sabías que...?</a></li>
        <li><a href="index.html#serveis">Servicios</a></li>
      </ul>
      <a href="index.html#contacte" class="boto">Contáctanos</a>
      <a href="{{IDIOMA_CA_HREF}}" class="idioma-toggle" aria-label="Cambiar idioma">CA</a>
      <button class="menu__toggle" id="menuToggle" aria-label="Obrir menú">
      </button>
    </nav>
  </div>
</header>